.bill-and-deals {
  height: 666px;
  margin-top: 25px;
}

.card-header {
  background-image: linear-gradient(20.17deg,
      #8c3cee 0%,
      #2f85f6 60.78%,
      #2daef7 100%);
  border-radius: 4px 4px 0px 0px;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  color: #ffffff;
}

.install-status {
  float: right;
}

.right-side {
  float: right;
}

.dropdownMenuButtonDeals {
  color: #c4c4c4;
  background: #f9f9f9;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}

.right-side img {
  padding-left: 2px;
}

.installed {
  color: #55D352;
}

.bill {
  margin-top: 48px;
}

.bill h4 {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.bill-section {
  background: #f4f4f4;
  border-radius: 4px;
  margin-top: 18px;
  padding: 16px 14px 0px 14px
}

.add-payment {
  margin-top: 16px;
}

#add-circle {
  padding-right: 8px;
}

.dropdownMenuButton {
  width: 173px;
  height: 40px;
  color: #bdbdbd;
  background: #ffffff;
  opacity: 0.8;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 5px;
  float: right;
}
