.bill-and-deals {
  height: 666px;
  margin-top: 25px;
}

.card-header {
  background-image: linear-gradient(20.17deg,
      #8c3cee 0%,
      #2f85f6 60.78%,
      #2daef7 100%);
  border-radius: 4px 4px 0px 0px;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  color: #ffffff;
}

.install-status {
  float: right;
}

.right-side {
  float: right;
}

.dropdownMenuButtonDeals {
  position: relative;
  color: #c4c4c4 !important;
  background: #f9f9f9 !important;
  border: 1px solid #ffffff !important;
  box-sizing: border-box;
  border-radius: 4px;
}

.dropdownMenuButtonDeals .float-left {
  padding-left: 10px;
}
.right-side img {
  padding-left: 2px;
}

.installed {
  color: #55D352;
}

.bill {
  margin-top: 48px;
}

.bill h4 {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.bill-section {
  background: #f4f4f4;
  border-radius: 4px;
  margin-top: 18px;
  padding: 16px 14px 0px 14px
}

.add-payment {
  margin-top: 16px;
}

#add-circle {
  padding-right: 8px;
}

.dropdownMenuButton {
  width: 173px;
  height: 40px;
  color: #bdbdbd !important;
  background: #ffffff !important;
  opacity: 0.8;
  border: 1px solid #dbdbdb !important;
  box-sizing: border-box;
  border-radius: 5px;
  float: right;
}



.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(187, 184, 184);
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2F85F6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'NO';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'YES';
}

/*--------- END --------*/
