@font-face {
  font-family: "Gilroy";
  src: url("/Gilroy/Radomir\ Tinkov\ -\ Gilroy-Black.otf") format("otf"),
       url("/Gilroy/Radomir\ Tinkov\ -\ Gilroy-Bold.otf") format("otf");
}
.setup-list {
  list-style: none;
  counter-reset: item;
}
.setup-list li {
  counter-increment: item;
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  color: #0b0b0b;
}
.setup-list li:before {
  margin-right: 10px;
  content: counter(item);
  color: #dadada;
  /*font-family: "Gilroy", sans-serif;*/
  font-family: "Gilroy", serif ;
  font-size: 30px;
  line-height: 36px;
}

.code {
  width: 448px;
  height: 74px;

  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 3px;
}

.copy {
  padding-left: 366px;
}


/*
font-family: 'Muli', sans-serif;
font-family: 'Roboto', sans-serif;
*/

