.flex-container {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    /*position: relative;*/ 
    top: 120px;
    width: 100%;
    left: 60px;
  }

  .faq {
    background-color: red;
    padding-left: 50px;
  }

.navbar-nav li {
  display: inline;
}
  /*** ==accordin== **/
 