.header {
  position: relative;
  /*width: 1020px; */
  width: 100%;
  height: 80px;
  /* left: 260px; */
  /*top: -2px; */
  background: #ffffff;
}

.header img {
  position: absolute;
  left: 33px;
  top: 25px;
  width: 30px;
  height: 30px;
}

.header h1 {
  position: absolute;
  left: 70px;
  top: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #000000;
}

.header p {
  position: absolute;
  left: 179px;
  top: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #616161;
}
