.navbar-custom {
  background-color: white;
}

.navbar a {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  padding: 15px 30px;
}

a:hover {
  color: #2F85F6 !important;
  text-decoration: underline !important;
}