.status {
    position: relative;
    width: 100%;
    margin: auto 0;
    top: -37px;
}

.status-container {
    background-color: white;
    width: 97.2%;
    margin: 0 auto;
    height: 149px;
}
/*
margin: 0 auto;
background: red;
position: absolute;
width: 100%;
margin: auto 0;
*/