.blog-section {
  padding-top: 25px;
}

.blog-section h1 {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #0B0B0B;
}

.blog-container {
  padding: 24px 28px 24px 50px;
}

.text {
  background: #F9F9F9;
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 20px 20px 20px;

}

.text h2 {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;

  color: #0B0B0B;
}

.text p {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  color: #818181;
}

.btn-default {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #2f85f6 !important;
  border-radius: 20px;
  letter-spacing: 1px;
  line-height: 15px;
  padding: 10px 31px;
  background: transparent;
  transition: all 0.3s ease 0s;
  vertical-align: center;
}


.View_more {
  padding-right: 100px;
}